<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="bg-yellow p-8px">
      <h1 class="img-header">
        <img src="/images/logo-mercado-liebre.svg" alt="Mercado liebre" />
      </h1>
      <div class="p-8px">
        <input type="search" placeholder="Buscar productos, marcas" />
        <button><i class="fas fa-search"></i></button>
      </div>
      <p class="text-center">
        <i class="fas fa-user"></i>Comprá en cuotas y sin tarjeta de crédito
      </p>
      <nav>
        <ul class="p-topandbottom8px">
          <li><a class="header-list" href="#">Ofertas</a></li>
          <li><a class="header-list" href="#">Tiendas Oficiales</a></li>
          <li><a class="header-list" href="#">Vender</a></li>
          <li><a class="header-list" href="#">Ayuda</a></li>
        </ul>
        <ul class="p-topandbottom8px">
          <li>
            <a class="header-list" href="#"
              >Creá tu cuenta<i class="fas fa-id-card"></i
            ></a>
          </li>
          <li>
            <a class="header-list" href="#"
              >Ingresá<i class="fas fa-sign-in-alt"></i
            ></a>
          </li>
          <li>
            <a class="header-list" href="#"
              >Mis compras<i class="fas fa-shopping-basket"></i
            ></a>
          </li>
        </ul>
      </nav>
      <div class="text-center">
        <i class="fas fa-bars p-8px"></i>
      </div>
    </header>
    <img src="/images/img-home-banner.jpg" alt="Banner" / class="wd-100">
    <main class="main p-8px">
      <section class="p-8px">
        <h2 class="headline">Sección: Basado en tu última visita</h2>
        <article class="article-producto">
          <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" /
          class="wd-100">
          <div class="div-productos">
            <p class="font-precios">$6.770</p>
            <p class="font-descuentos">40% OFF</p>
            <h3 class="font-descripciones">Cafetera Moulinex</h3>
          </div>
        </article>
        <article class="article-producto">
          <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" /
          class="wd-100">
          <div class="div-productos">
            <p class="font-precios">$230.000</p>
            <p class="font-descuentos">20% OFF</p>
            <h3 class="font-descripciones">MacBook Pro 2019</h3>
          </div>
        </article>
        <article class="article-producto">
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10"
          / class="wd-100">
          <div class="div-productos">
            <p class="font-precios">$70.500</p>
            <p class="font-descuentos">10% OFF</p>
            <h3 class="font-descripciones">Samsung Galaxy S10</h3>
          </div>
        </article>
        <article class="article-producto">
          <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43""
          / class="wd-100">
          <div class="div-productos">
            <p class="font-precios">$23.200</p>
            <p class="font-descuentos">5% OFF</p>
            <h3 class="font-descripciones">SmartTv Samsung 43"</h3>
          </div>
        </article>
      </section>
      <section class="p-8px">
        <h2 class="headline">Ofertas</h2>
        <article class="article-producto">
          <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" /
          class="wd-100">
          <div class="div-productos">
            <p class="font-precios">$6.770</p>
            <p class="font-descuentos">40% OFF</p>
            <h3 class="font-descripciones">Cafetera Moulinex</h3>
          </div>
        </article>
        <article class="article-producto">
          <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" /
          class="wd-100">
          <div class="div-productos">
            <p class="font-precios">$230.000</p>
            <p class="font-descuentos">20% OFF</p>
            <h3 class="font-descripciones">MacBook Pro 2019</h3>
          </div>
        </article>
        <article class="article-producto">
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10"
          / class="wd-100">
          <div class="div-productos">
            <p class="font-precios">$70.500</p>
            <p class="font-descuentos">10% OFF</p>
            <h3 class="font-descripciones">Samsung Galaxy S10</h3>
          </div>
        </article>
        <article class="article-producto">
          <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43""
          / class="wd-100">
          <div class="div-productos">
            <p class="font-precios">$23.200</p>
            <p class="font-descuentos">5% OFF</p>
            <h3 class="font-descripciones">SmartTv Samsung 43"</h3>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <section class="footer-section">
        <article>
          <i class="fas fa-credit-card footer-icons"></i>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p class="footer-p p-topandbottom8px">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>

        <article>
          <i class="fas fa-gift footer-icons"></i>
          <h4>Envío gratis desde $ 2.500</h4>
          <p class="footer-p p-topandbottom8px">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>

        <article>
          <i class="fas fa-user-shield footer-icons"></i>
          <h4>Seguridad, de principio a fin</h4>
          <p class="footer-p p-topandbottom8px">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </article>
      </section>

      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
