<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-body">
    <header class="bg-yellow header">
      <img
        src="/images/logo-mercado-liebre.svg"
        width="100%"
        alt="Mercado liebre"
      />
      <input class="search" placeholder="Buscar productos, marcas" />
      <br />
      <i class="fas fa-search"></i>
      <br />
      <br />
      <p>
        <i class="fas fa-user"></i>Comprá en cuotas y sin tarjeta de crédito
      </p>
      <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
      </ul>
      <br />
      <ul>
        <li>
          <a href="">Creá tu cuenta<i class="fas fa-id-card"></i></a>
        </li>
        <li>
          <a href="">Ingresá<i class="fas fa-sign-in-alt"></i></a>
        </li>
        <li>
          <a href="">Mis compras<i class="fas fa-shopping-basket"></i></a>
        </li>
      </ul>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <main>
      <img src="/images/img-home-banner.jpg" width="100%" alt="Banner" />
      <h3 class="headline">Sección: Basado en tu última visita</h3>
      <section>
        <img
          src="/images/img-cafetera-moulinex.jpg"
          width="100%"
          alt="Cafetera Moulinex"
        />
        <p>$6.770</p>
        <p>40% OFF</p>
        <h4>Cafetera Moulinex</h4>
      </section>

      <section>
        <img
          src="/images/img-macbook-pro-2019.jpg"
          width="100%"
          alt="MacBook Pro 2019"
        />
        <p>$230.000</p>
        <p>20% OFF</p>
        <h4>MacBook Pro 2019</h4>
      </section>

      <section>
        <img
          src="/images/img-samsung-galaxy-s10.jpg"
          width="100%"
          alt="Samsung Galaxy S10"
        />
        <p>$70.500</p>
        <p>10% OFF</p>
        <h4>Samsung Galaxy S10</h4>
      </section>

      <section>
        <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="SmartTv
        Samsung 43"" />
        <p>$23.200</p>
        <p>5% OFF</p>
        <h4>SmartTv Samsung 43"</h4>
      </section>
    </main>
    <footer>
      <h4>Pagá con tarjeta o en efectivo</h4>

      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>

      <h4>Envío gratis desde $ 2.500</h4>

      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>

      <h4>Seguridad, de principio a fin</h4>

      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>

      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
