body {
  background-color: #ebebeb;
  font-family: "Roboto";
}

/*generales*/

.bg-yellow {
  background: #eac926;
}

.p-8px {
  padding: 8px;
}

.p-topandbottom8px {
  padding-top: 8px;
  padding-bottom: 8px;
}

.text-center {
  text-align: center;
}

.wd-100 {
  width: 100%;
}

/*header*/

.header {
  display: flex;
  flex-wrap: wrap;
}

.img-header {
  width: 50%;
}

.search {
  width: 50%;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.input-search {
  flex-grow: 1;
}

.search-button {
  background-color: white;
  border: none;
  padding: 8px;
}

.text-header {
  width: 100%;
}

.nav-bar {
  display: none;
}

.header-list {
  text-decoration: none;
  color: inherit;
}

.burguer-button {
  width: 100%;
}

.fa-bars {
  background-color: #1259c3;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}

/*body*/

.main {
  width: 90vw;
  margin: auto;
}

.headline {
  font-size: 24px;
  color: #666;
  width: 100%;
}

.main-section {
  flex-direction: row;
  flex-wrap: wrap;
}

.font-body {
  font-family: "Roboto", sans-serif;
}

.article-producto {
  margin-top: 10px;
  width: 100%;
}

.div-productos {
  border-top: solid 1px #ebebeb;
  background-color: white;
  padding: 15px;
  margin-top: -4px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.precios {
  font-size: 18px;
  width: 30%;
}

.descuentos {
  font-size: 16px;
  color: #39b54a;
  width: 70%;
  align-self: center;
}

.truck-icon {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  color: #39b54a;
  flex-wrap: wrap;
}

.descripciones {
  font-size: 16px;
  display: none;
}

/*footer*/

.footer-section {
  text-align: center;
}

.footer-p {
  margin: auto;
  width: 50%;
}

.footer-icons {
  font-size: 2em;
  margin-bottom: 10px;
  color: #1259c3;
}

@media (min-width: 481px) {
  .descripciones {
    display: contents;
  }
  .article-producto {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .nav-bar {
    display: contents;
  }
  .burguer-button {
    display: none;
  }
}

@media (min-width: 769px) {
}

/*
wrap 

cu eleme 

width 


margen horiz de 1% para que no sobresalga

o usar gap (genera margen entre dos elementos)

*/
