body {
  background-color: #ebebeb;
  font-family: "Roboto";
}

/*generales*/

.bg-yellow {
  background: #eac926;
}

.p-8px {
  padding: 8px;
}

.p-topandbottom8px {
  padding-top: 8px;
  padding-bottom: 8px;
}

.text-center {
  text-align: center;
}

.wd-100 {
  width: 100%;
}

/*header*/

.img-header {
  width: 50%;
}

.fa-search {
  background-color: aliceblue;
}

.nav-bar {
  display: none;
}

.header-list {
  text-decoration: none;
  color: inherit;
}

.fa-bars {
  background-color: #1259c3;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}

/*body*/

.main {
  width: 90vw;
  margin: auto;
}

.headline {
  font-size: 24px;
  color: #666;
}

.font-body {
  font-family: "Roboto", sans-serif;
}

.div-productos {
  border-top: solid 1px #ebebeb;
  background-color: white;
  padding: 15px;
  text-align: start;
  margin-top: -4px;
}

.article-producto {
  margin-top: 10px;
}

.font-precios {
  font-size: 18px;
}

.font-descuentos {
  font-size: 16px;
  color: #39b54a;
}

.font-descripciones {
  font-size: 16px;
  display: none;
}

/*footer*/

.footer-section {
  text-align: center;
}

.footer-p {
  margin: auto;
  width: 50%;
}

.footer-icons {
  font-size: 2em;
  margin-bottom: 10px;
  color: #1259c3;
}

@media (min-width: 481px) {
  .font-descripciones {
    display: contents;
  }
  .article-producto {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .nav-bar {
    display: contents;
  }
  .burguer-button {
    display: none;
  }
}

@media (min-width: 769px) {
}
