<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <script
      src="https://kit.fontawesome.com/7cd8dbde5d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="bg-yellow p-8px header">
      <h1 class="img-header">
        <a href="/" class="header-list">
          <img src="/images/logo-mercado-liebre.svg" alt="Mercado liebre" />
        </a>
      </h1>
      <div class="search">
        <input
          class="input-search"
          type="search"
          placeholder="Buscar productos, marcas"
        />
        <button class="search-button"><i class="fas fa-search"></i></button>
      </div>
      <p class="text-center text-header">
        <i class="fas fa-user"></i>Comprá en cuotas y sin tarjeta de crédito
      </p>
      <nav class="nav-bar">
        <ul class="p-topandbottom8px list">
          <li><a class="header-list" href="#">Ofertas</a></li>
          <li><a class="header-list" href="#">Tiendas Oficiales</a></li>
          <li><a class="header-list" href="#">Vender</a></li>
          <li><a class="header-list" href="#">Ayuda</a></li>
        </ul>
        <ul class="p-topandbottom8px list">
          <li>
            <a class="header-list" href="/register"
              >Creá tu cuenta<i class="fas fa-id-card"></i
            ></a>
          </li>
          <li>
            <a class="header-list" href="/login"
              >Ingresá<i class="fas fa-sign-in-alt"></i
            ></a>
          </li>
          <li>
            <a class="header-list" href="#"
              >Mis compras<i class="fas fa-shopping-basket"></i
            ></a>
          </li>
        </ul>
      </nav>
      <div class="text-center burguer-button">
        <i class="fas fa-bars p-8px"></i>
      </div>
    </header>
    <main class="main p-8px">
      <div class="form-div">
        <form action="" method="post" class="body-form">
          <label for="nombre"><h2>Nombre y apellido:</h2></label>
          <input type="text" name="nombre" />
          <label for="nombre"><h2>Nombre de usuario:</h2></label>
          <input type="text" name="usuario" />
          <label for="nombre"><h2>Fecha de nacimiento:</h2></label>
          <input type="date" name="nacimiento" />
          <label for="nombre"><h2>Domicilio:</h2></label>
          <input type="text" name="domicilio" />
          <label for="perfil"><h2>Perfil de usuario:</h2></label>
          <div class="body-perfil">
            <input type="radio" name="perfil" value="comprar" />
            <label for="perfil">Comprador</label>
            <input type="radio" name="perfil" value="vender" />
            <label for="perfil">Vendedor</label>
          </div>
          <label for="categoria"><h2>Intereses:</h2></label>
          <div class="body-intereses">
            <input type="checkbox" name="electro" value="electro" />
            <label for="categoria">Electro</label>
            <input type="checkbox" name="moda" value="moda" />
            <label for="categoria">Moda</label>
            <input type="checkbox" name="hogar" value="hogar" />
            <label for="categoria">Hogar</label>
            <input type="checkbox" name="jugueteria" value="jugueteria" />
            <label for="categoria">Jugueteria</label>
            <input type="checkbox" name="vida" value="vida" />
            <label for="categoria">Vida sana</label>
          </div>
          <label for="foto"><h2>Foto de usuario:</h2></label>
          <input type="file" name="foto" />
          <label for="password"><h2>Contraseña:</h2></label>
          <input type="password" name="password" />
          <label for="confirm"><h2>Confirmar contraseña:</h2></label>
          <input type="password" name="confirm" />
          <div class="body-buttons">
            <button class="body-button" type="submit">Enviar</button>
            <button class="body-button" type="reset">Borrar</button>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <section class="footer-section">
        <article class="footer-article">
          <i class="fas fa-credit-card footer-icons"></i>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p class="footer-p p-topandbottom8px">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>
        <article class="footer-article">
          <i class="fas fa-gift footer-icons"></i>
          <h4>Envío gratis desde $ 2.500</h4>
          <p class="footer-p p-topandbottom8px">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>
        <article class="footer-article">
          <i class="fas fa-user-shield footer-icons"></i>
          <h4>Seguridad, de principio a fin</h4>
          <p class="footer-p p-topandbottom8px">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </article>
      </section>
      <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
